#tileset_wrapper 
{
    float: left;
    vertical-align: top;
    border: 1px solid black;
    width: 256px;
    height: 512px;
    overflow: scroll;
    resize: both;
    margin-right: 10px;
}

#map_wrapper 
{
    float: none;
    vertical-align: top;
    border: 1px solid black;
    height: 480px;
    overflow: scroll;
    resize: both;
}

p
{
    font-weight: bold;
}

#menu
{
    margin-bottom: 10px;
}

fieldset
{
    display: inline-block;
    vertical-align: top;
}

legend
{
    font-weight: bold;
}